<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/main_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Dialogue"
        tools:targetApi="31">
        <activity
            android:name=".NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".VoiceActivity"
            android:exported="false" />
        <activity
            android:name=".Empreg"
            android:exported="false" />
        <activity
            android:name=".Workreg"
            android:exported="false" />
        <activity
            android:name=".Workdetail"
            android:exported="false" />
        <activity
            android:name=".Work"
            android:exported="false" />
        <activity
            android:name=".Woek"
            android:exported="false" />
        <activity
            android:name=".Eregdetails"
            android:exported="false" />
        <activity
            android:name=".Eregister"
            android:exported="false" />
        <activity
            android:name=".Edash"
            android:exported="false" />
        <activity
            android:name=".Hrregdetails"
            android:exported="false" />
        <activity
            android:name=".Hrdash"
            android:exported="false" />
        <activity
            android:name=".Hrreg"
            android:exported="false" />
        <activity
            android:name=".Hrlogin"
            android:exported="false" />
        <activity
            android:name=".Elogin"
            android:exported="false" />
        <activity
            android:name=".Firstpage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".Chatbot"
            android:exported="false" />
    </application>

</manifest>